[submodule "software/relay/lib/.\\SendOnlySoftwareSerial"]
	path = software/relay/lib/.\\SendOnlySoftwareSerial
	url = https://github.com/nickgammon/SendOnlySoftwareSerial
[submodule "software/relay/lib/.\\Streaming"]
	path = software/relay/lib/.\\Streaming
	url = https://github.com/janelia-arduino/Streaming
